body {
  font-family: 'Lora';
  background: url("../img/Buscopoli-04.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 25px 50px;
  background-size: 100% 100%;
}

.img2 {
  height: 300px;
  width: auto;
  display: flex;
}

.footer {
  background:transparent;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 185px;
}

.footer div{
  margin: 25px;
}

.footer h2{
  color: blue;
  margin-bottom: 25px;
  font-size: 20px;
}

.footer .red-social a{
  display: inline-block;
  text-decoration: none;
  width: 45px;
  height: 45px;
  line-height: 45px;
  color: #fff;
  margin-right: 10px;
  background-color: aqua;
  text-align: center;
  transition: all 300ms;
}

.footer .red-social a:hover{
  color: red;
}


body {
  margin: 0;
  margin-bottom: 40px;
}

